appdirs==1.4.4
asgiref==3.5.1
autopep8==1.6.0
backports.entry-points-selectable==1.1.0
cachetools==4.2.4
cffi==1.14.5
cryptography==3.4.7
distlib==0.3.1
Django==4.0.4
django-admin-rangefilter==0.8.1
django-cors-headers==3.11.0
django-environ==0.4.5
django-filter==21.1
django-sql-explorer==2.1.2
djangorestframework==3.13.1
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
importlib-metadata==3.9.0
Markdown==3.3.6
numpy==1.23.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
pefile==2021.9.3
Pillow==9.1.0
pipm==20.2.4
platformdirs==2.4.0
psycopg2==2.9.5
psycopg2-binary==2.8.6
py2exe==0.11.0.1
pycodestyle==2.8.0
pycparser==2.20
PyGreSQL==5.2.4
python-dotenv==0.21.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.7.4.3
tzdata==2022.1
virtualenv==20.4.3
zipp==3.4.1
